* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    list-style:none;
    scroll-behavior: smooth;    
}

:root {
    --yellow: #FBE740;
    --blue: #21bbef;
    --dark-blue: #002D81;
    --gray: #292B2F;
    --light-gray: #ECEEF1;
}

.page1 {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    animation: bgchanges 20s infinite ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.socials-mobile {
    display: none;
}

#header {
    display: none;
}

#btn-mobile {
    display: none;
}

.page1 header {
    display: flex;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    ;
    width: 100%;
    height: 130px;
    padding: 10px 120px;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding-top: 30px;
}

.logo-image-initial-mobile {
    display: none;
}

.logo-initial-page {
    width: fit-content;
}

.logo-image-initial-page {
    width: 350px;
    transition: 0.3s;
    filter: brightness(0) invert(1);
}

.logo-image-initial-page:hover {
    filter: none;
}

.nav-mobile {
    display: none;
}

.desktop-tablet {
    display: flex;
    gap: 30px;
    align-items: center;
}

.desktop-tablet li {
    font-size: 22px;
    list-style: none;
}

.desktop-tablet li a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s;
}

.desktop-tablet li a:hover {
    color: var(--yellow);
}

.logos-social {
    display: flex;
    align-items: center;
    font-size: 35px;
}


.main-content-page1 {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: left;
    padding: 0 120px;
}

.page1-hero {
    width: 40%;
    color: #FFFFFF;
    text-shadow: #000000 5px 5px 5px;
}

.page1-hero h1 {
    font-size: 55px;
    font-weight: 600;
}

.page1-hero p {
    font-size: 20px;
}



.bottom-page1 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.testing {
    font-size: 60px;
    color: #FFFFFF;
}

.testing:hover {
    color: var(--yellow);
}


@keyframes bgchanges {
    0% {
        background-image: url(../images/bg-images/img1.jpg), url(../images/bg-images/img2.jpg);
    }

    20% {
        background-image: url(../images/bg-images/img2.jpg), url(../images/bg-images/img3.jpg);
    }

    40% {
        background-image: url(../images/bg-images/img3.jpg), url(../images/bg-images/img4.jpg);
    }

    60% {
        background-image: url(../images/bg-images/img4.jpg), url(../images/bg-images/img5.jpg);
    }

    80% {
        background-image: url(../images/bg-images/img5.jpg), url(../images/bg-images/img6.jpg);
    }

    100% {
        background-image: url(../images/bg-images/img6.jpg);
    }
}

#page2{
        background-color: #21bbef;
        width: 100%;
}





@media only screen and (max-width: 600px) {

    .socials-mobile {
        display: inline;
    }

    .page1 {
        height: 500px;
    }

    .page1 header {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));;
        padding: 0;
    }

    .page1-header-mobile {
        width: 100%;
    }

    .desktop-tablet {
        display: none;
    }

    .logo-header-mobile {
        margin: 0 14px;
    }


    .logo-image-initial-mobile {
        display: inline;
        width: 140px;
    }

    .logo-image-initial-page {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        padding: 0 23px;
        width: fit-content;
        gap: 5px;
        list-style: none;
    }

    #header {
        display: flex;
        width: 100%;
    }

    #menu li a {
        margin-top: 60px;
    }

    .logo-mobile {
        display: flex;
        height: 27px;
        width: 27px;
        font-size: 14px;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        overflow: hidden;
        color: #FFFFFF;
        transition: 0.3s;
        
    }

    .logo-mobile:hover,
    .logo-mobile:visited {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
        color: var(--blue);
    }

    .logo-mobile a {
        margin: 0 auto;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #FFFFFF;
        justify-content: center;
    }

    .logo-mobile a:hover {
        color: var(--blue);
    }

    #btn-mobile {
        display: flex;
        position: absolute;
        right: 14px;
        top: 63px;
        z-index: 1;
        padding: 10px;
    }

    #menu {
        background-color: rgb(255, 255, 255, 0.9);
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 130px;
        z-index: 1000px;
        transition: 0.3s;
    }

    #menu li {
        width: 80%;
        padding: 20px;
        border-bottom: 1px solid rgba(33, 187, 239, 0.6);
        text-align: center;
    }

    #menu li a {
        text-decoration: none;
        color: black;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 20px;
    }

    #nav.active #menu {
        display: flex;
    }

    .botaoHamburger{
        position:absolute;
        top: 50px;
        right: 14px;
    }

    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }
    
    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 26px;
        width: 30px;
    }
    
    label span {
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 30px;
        background: #FFFFFF;
        transition: 0.25s ease-in-out;
    
    }
    
    label span:nth-child(1) {
        top: 0;
    }
    
    label span:nth-child(2) {
        top: 11px;
    }
    
    label span:nth-child(3) {
        top: 22px;
    }

    #checkbox-menu:checked {
        width: 100%;
        height: 100vh;
        background-color: #0d0d0d;
    
    }
    
    #checkbox-menu:checked+label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 11px;
    }
    
    #checkbox-menu:checked+label span:nth-child(2) {
        display: none;
    }
    
    #checkbox-menu:checked+label span:nth-child(3) {
        transform: rotate(45deg);
        top: 11px;
    }

    #menu-hospedagem{
        width: 80%;
        display: none;
        transition: 0.5s;
    }

    #lista-hospedagem li{
        margin: 0 auto;
        padding: 10px 20px;
        width: 70%;
        transition: 0.5s;
    }
    
    #lista-hospedagem li a{
        font-size: 15px;
    }


    #checkbox-hospedagem{
        position: absolute;
        opacity: 0;

    }

    #caret-hospedagem{
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        position: absolute;
        top: 90px;
        right: 100px;
    }

    #caret{
        transition: 0.3s;
    }

    .main-content-page1 {
        height: 50vh;
        padding: 0;
    }

    .page1-hero{
        width: 80%;
        text-shadow: #000000 1px 1px 10px;
    }

    .page1-hero h1{
        width: 80%;
        margin-left: 14px;
        margin-top: 45px;
        font-size: 35px;
    } 

    .page1-hero p{
        display: none;
    }

    .bottom-page1{
        display: none;
    }

    

    #benefits1, #benefits2{
        background-color: darkgoldenrod;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 210px;
        justify-content: center;
    }

    #VillaDasEstrelas{
        background-color: #FBE740;
        height: 600px;
    }

    .line1 {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .line2{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }


    .benefit{
        background-color: #21bbef;
        height: 80px;
        width: 100px;
        text-align: center;
    }
    

    .benefit i{
        font-size: 35px;
    }

    .benefit p{
        font-size: 12px;
    }

    

    .content-page2{
        padding: 30px 14px;
        height: 350px;
    }

    .content-page2 p {
        margin-top: 15px;
    }

    .content-page2 div {
        margin-top: 10px;
        background-color: #FBE740;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #suites{
        margin: 50px auto 10px;
        border-radius: 100px;
        padding: 10px 50px;
    }

    #page-localizacao{
        padding: 30px 14px;
        background-color: var(--light-gray);
    }

    .texto p {
        margin: 15px 0;
    }

    .texto h1 {
        color:var(--dark-blue);
    }
    
    .mapa{
        display: flex;
        align-items: center;
        
    }

    #calcular {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    #page-localizacao a {        
        color: var(--dark-blue);
        text-decoration: none;
    }

    #page-localizacao a span{
        font-size: 20px;
    }

    footer{
        background-color: var(--gray);
        padding: 15px 14px;
        
    }

    footer img {
        width: 45%;
    }

    #footer-elements{
        font-size: 12px;
        list-style: none;
    }

    #footer-elements li{
        margin-top: 7px;
    }

    #footer-elements li a{
        text-decoration: none;
        color: #FFFFFF;
    }

    footer .socials-mobile ul{
        height: 50px;
        width: 100%;
        padding: 10px 100px;
        margin: 20px 0 10px;
    }

    footer .nav-mobile {
        justify-content: space-evenly;
    }

    footer .logo-mobile {
        display: flex;
        height: 40px;
        width: 40px;
        font-size: 20px;
        border: 1px solid #FFFFFF;
    }    

    .copyright {
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
    }
}