*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow: hidden;
}

:root {
    --yellow: #FBE740;
}

.page1{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    animation: bgchanges 20s infinite ease-in-out;
    display: flex;
    flex-wrap: wrap;
}

.page1 header{
    display: flex;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));;
    width: 100%;
    height: 130px;
    padding: 10px 120px;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding-top: 30px;
}

.logo-image-initial-mobile{
    display: none;
}

.logo-initial-page{
    width: fit-content;
}

.logo-image-initial-page{
    width: 350px;
    transition: 0.3s;
    filter: brightness(0) invert(1);
}

.logo-image-initial-page:hover {
    filter:none;
}

.nav-mobile{
    display: none;
}

.desktop-tablet {
    display: flex;
    gap: 30px;
    align-items: center;
}

.desktop-tablet li{
    font-size: 22px;
    list-style: none;
}

.desktop-tablet li a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s;
}

.desktop-tablet li a:hover {
    color: var(--yellow);
}

.logos-social{
    display: flex;
    align-items: center;
    font-size: 35px;
}


.main-content-page1{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: left;
    padding : 0 120px;
}

.page1-hero{
    width: 40%;
    color: #FFFFFF;
    text-shadow: #000000 5px 5px 5px;
}

.page1-hero h1{
    font-size: 55px;
    font-weight: 600;
}

.page1-hero p{
    font-size: 20px;
}



.bottom-page1{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0));;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.testing{
    font-size: 60px;
    color: #FFFFFF;
}

.testing:hover {
    color: var(--yellow);
}


@keyframes bgchanges {
    0%
    {
        background-image: url(../images/bg-images/img1.jpg), url(../images/bg-images/img2.jpg);
    }
    20%
    {
        background-image: url(../images/bg-images/img2.jpg), url(../images/bg-images/img3.jpg);
    }
    40%
    {
        background-image: url(../images/bg-images/img3.jpg), url(../images/bg-images/img4.jpg);
    }
    60%
    {
        background-image: url(../images/bg-images/img4.jpg), url(../images/bg-images/img5.jpg);
    }
    80%
    {
        background-image: url(../images/bg-images/img5.jpg), url(../images/bg-images/img6.jpg);
    }
    100%
    {
        background-image: url(../images/bg-images/img6.jpg);
    }
}



@media only screen and (max-width: 600px) {

    .page1 header{
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0));;
        width: 100%;
        height: 130px;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        font-weight: 300;
        padding-top: 0px;
        background-color: aqua;
    }

    .desktop-tablet{
        display: none;
    }

    .nav-mobile{
        display: flex;
    }
   

    .page1 nav ul {
        display: none
    }
    
    .page1 nav ul li{
        font-size: 22px;
        list-style: none;
    }
    
    .page1 nav ul li a {
        text-decoration: none;
        color: #FFFFFF;
        transition: 0.2s;
    }
    
    .page1 nav ul li a:hover {
        color: var(--yellow);
    }
    
    .logos-social{
        display: flex;
        align-items: center;
        font-size: 35px;
    }

    .logo-image-initial-mobile{
        display: inline;
        width: 150px;
    }

    .logo-image-initial-page{
        display: none;
    }



}
